
body {
  background: linear-gradient(to bottom right, black, rgb(66,0,66));
  background-color: rgb(15,15,15);
  text-align: center;
  color: rgb(100, 100, 100);
}
li {
  list-style-type: none;
}

.home {
  font-family: 'Fira Sans', serif;
  font-size: 10px;
  color: #ddd;
}

/*-----APP BANNER------*/

.appBanner {
  text-align: left;
  background: linear-gradient(to bottom right, black, rgb(55,0,55));
  background-color: rgb(44,0,44);
}
#manifestSocial {
  margin: 0px;
  padding: 10px;
  font-family: 'Dancing Script', cursive;
  font-weight: bolder;
}

/*---CHANNEL BANNER----*/
.youtubeBanner {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100px;
}

.youtubeBanner img {
  width: 150px;
}

.youtubeBannerInfo {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

#bannerLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 10px;
  padding-bottom: 7px;
  width: 25%;
}

#bannerLeft h1 {
  text-align: left;
}

#bannerLeft h3 {
  text-align: left;
  padding-left: 5px;
  margin: 5px;
}

#bannerRight {
  margin: 15px auto 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#bannerDescription {
  line-height: 20px;
}
#bannerNames {
  display: flex;
  justify-content: space-between;
}

/*---SEARCH BAR AND VIDEO PLAYERS----*/
.searchContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto 20px auto;
  width: 99%;
}

.searchForm {
  width: 200px;
}

.searchForm input {
  width: 95%;
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(22,22,22);
  color: #ddd;
  line-height: 20px;
  font-size: 10px;
  margin-bottom: 7px;
}

.searchForm button {
  font-size: 10px;
  border-radius: 5px;
  background-color: #aaa;
  font-family: 'Fira Sans', serif;
}

.error {
  padding-top: 5px;
  width: 150px;
  margin: 0 auto;
}

/*---NAV BAR----*/
.navBar ul {
  display: flex;
  justify-content: space-around;
}
.navBar a {
  text-decoration: none;
  color: #ddd
}
.navBar .active {
  text-decoration: underline;
}
.navBar a:hover {
  color: red;
}

/*---VIDEO LISTS ----*/
.bottomContainer {
  border: 1px solid white;
  margin: 20px auto;
  width: 90%;
}

.videoLists {
  height: 500px;
  overflow: scroll;
}

.video {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin: 5px auto;
  border-bottom: 1px solid rgb(80,80,80);
}

.video img {
  width: 125px;
  height: 100px;
}

.videoTitle {
  text-align: left;
}
.videoInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 20px;
}

.video ul {
  padding-left: 10px;
}

/*---FACEBOOK VIDEO----*/
.facebookVideo {
  padding: 10px 0px;
}
.facebookVideo ul{
  display: flex;
  align-items: center;
  padding-left: 20px;
  text-align: left;
  width: 50%;
}

#youtubePlayer {
  height: 250px;
  width: 300px;
}
#facebookPlayer {
  width: 325px;
}

/*---Responsiveness---*/
@media (min-width: 768px) {
  .home {
    font-size: 15px;
  }
  .youtubeBanner {
    height: 125px;
  }

  .searchContainer {
    flex-direction: row;
    justify-content: space-around;
  }

  .searchContainer form {
    width: 300px;
  }

  .searchForm input {
    line-height: 30px;
    font-size: 15px;
    margin-left: 20px;
  }

  .error {
    width: 300px;
  }

  .video img {
    width: 225px;
    height: 175px;
  }

  #youtubePlayer {
    height: 350px;
    width: 450px;
  }

  #facebookPlayer {
    width: 500px;
  }

}


@media (min-width: 1200px) {
 .home {
   font-size: 20px;
 }

 .youtubeBanner {
   height: 200px;
 }

 .youtubeBanner img {
   width: 200px;
 }

 #bannerDescription {
   line-height: 30px;
 }

 .searchContainer form {
   width: 400px;
 }

 .searchContainer input {
   font-size: 20px;
   line-height: 35px;
 }

 .searchContainer button {
   font-size: 15px;
 }

 .video img {
   width: 250px;
   height: 200px;
 }

 #youtubePlayer {
   height: 400px;
   width: 600px;
 }

}
